    <div class="bg-gray">
      <div class="container py-5">
      <div class="row">
        <div class="col">
          <h1 class="text-center">Sponsorships</h1>
          <p class="text-center">
            The PackagingCon conference could not happen without support from amazing sponsors.<br/>
            Are you interested in becoming a sponsor?<br/>
            If so, please see our <a href="/assets/sponsorship_prospectus_packagingcon_2023.pdf" style="color: #fff">sponsorship prospectus</a> or contact us at <a href="mailto:info@packaging-con.org" style="color: #fff">info@packaging-con.org</a>
          </p>
        </div>
      </div>
    </div>
    <div class="bg-white">
    <div class="container py-5">
      <h2 class="text-center">Platinum</h2>
<!--         <div class="logos">
          <div class="platinum">
            <a href="https://www.citadel.com/" target="_blank">
              <img src="/assets/images/citadel.svg"/>
            </a>
            <hr/>

            <a href="http://www.techatbloomberg.com/?utm_campaign=MKTG_2021TechConferences&utm_content=site-partner&utm_medium=cto&utm_source=site-partner" target="_blank">
              <img src="/assets/images/techatbloomberg.png"/>
            </a>
          </div>
        </div>
 -->    </div>
    <div class="container py-5">
      <h2 class="text-center">Gold</h2>
<!--         <div class="logos">
          <div class="gold">
            <a href="https://cloudsmith.com/" target="_blank">
              <img src="/assets/images/cloudsmith.png"/>
            </a>
            <a href="https://quantstack.net" target="_blank">
              <img src="/assets/images/quantstack.svg"/>
            </a>
          </div>
        </div>
 -->    </div>
    <div class="container py-5">
      <h2 class="text-center">Silver</h2>
<!--         <div class="logos">
          <div class="silver">
            <a href="https://get.opensuse.org/" target="_blank">
              <img src="/assets/images/openSUSE.png"/>
            </a>
            <a href="https://www.quansight.com" target="_blank">
              <img src="/assets/images/quansight.png" style="max-width: 300px;"/>
            </a>
            <a href="https://www.tweag.io" target="_blank">
              <img src="/assets/images/tweag_io.svg" width="300px" style="max-width: 300px;"/>
            </a>
            <a href="https://www.anaconda.com" target="_blank">
              <img src="/assets/images/anaconda.png" width="300px" style="max-width: 300px;"/>
            </a>
            <a href="https://www.collabora.com/" target="_blank">
              <img src="/assets/images/collabora.png" width="230px" style="max-width: 300px;"/>
            </a>
          </div>
      </div>
 -->    </div>
    </div>
    </main>
    <footer>
      <div class="row bg-light">
        <div class="col py-5 text-center">
          <a href="https://twitter.com/packagingcon?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @packagingcon</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <p>Organized in partnership with NumFOCUS.</p>
          <p>We adhere to the NumFOCUS Code of Conduct</p>
        </div>
      </div>
    </footer>
